In [12]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_json("results/results.json")
df.query('dataset_name == "NATOPS"')

,model_name,dataset_name,model_params,train_size,test_size,random_state_seed,timestamp,dimensions_used,accuracy,f1_avg,recall_avg,precision_avg,f1_score,recall_score,precision_score,confusion_matrix
0,Rocket_XGBoost,NATOPS,{},252,108,0,0,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.861111,0.878791,0.881844,0.878472,"[0.9565217391, 0.6818181818, 0.666666666700000...","[0.9166666667000001, 0.652173913, 0.7222222222...","[1.0, 0.7142857143, 0.619047619, 1.0, 1.0, 0.9...","[[22, 1, 0, 0, 0, 1], [0, 15, 8, 0, 0, 0], [0,..."
1,Rocket_XGBoost,NATOPS,{},252,108,0,1,[10],0.490741,0.521634,0.525262,0.519862,"[0.45833333330000003, 0.3111111111, 0.27027027...","[0.45833333330000003, 0.3043478261, 0.27777777...","[0.45833333330000003, 0.3181818182, 0.26315789...","[[11, 8, 4, 0, 0, 1], [5, 7, 9, 1, 0, 1], [8, ..."
2,Rocket_XGBoost,NATOPS,{},252,108,0,1683655,"[8, 10, 21, 22]",0.833333,0.843271,0.856703,0.845663,"[0.9333333333, 0.65, 0.6976744186, 0.909090909...","[0.875, 0.5652173913, 0.8333333333, 1.0, 1.0, ...","[1.0, 0.7647058824, 0.6000000000000001, 0.8333...","[[21, 1, 0, 1, 0, 1], [0, 13, 10, 0, 0, 0], [0..."
3,Rocket_XGBoost,NATOPS,{},252,108,0,1683655666198,"[8, 10, 11, 12, 16, 17, 21, 22]",0.842593,0.854711,0.867512,0.856632,"[0.9565217391, 0.6153846154, 0.6976744186, 0.9...","[0.9166666667000001, 0.5217391304, 0.833333333...","[1.0, 0.75, 0.6000000000000001, 0.9090909091, ...","[[22, 1, 0, 0, 0, 1], [0, 12, 10, 1, 0, 0], [0..."